@using Eshop.Shared.Models.UserModels
@inject IAddressService AddressService

@if (_address == null)
{
    <div class="text-center">
        <h2>You haven't specified a delivery address yet.</h2>
        <p>You can edit your delivery address here <btn class="btn" @onclick="InitAddress">Add a delivery address</btn></p>
    </div>
    
}else if (!_editingAddress)
{
    <div>
        <p>@_address.FirstName @_address.LastName</p>
        <p>@_address.Street</p>
        <p>@_address.City, @_address.Zip</p>
        <p>@_address.Country</p>
    </div>
    <button class="btn btn-primary" @onclick="EditAddress">Edit</button>
}
else
{
    <EditForm Model="_address" OnSubmit="SubmitAddress">
        <div class="mb-3">
            <label for="firstname">First name</label>
            <InputText class="form-control" id="firstname" @bind-Value="_address.FirstName"/>
        </div>
        <div class="mb-3">
            <label for="lastname">Last name</label>
            <InputText class="form-control" id="lastname" @bind-Value="_address.LastName"/>
        </div>
        <div class="mb-3">
            <label for="city">City</label>
            <InputText class="form-control" id="city" @bind-Value="_address.City"/>
        </div>
        <div class="mb-3">
            <label for="city">Street</label>
            <InputText class="form-control" id="city" @bind-Value="_address.Street"/>
        </div>
        <div class="mb-3">
            <label for="zip">Zip/Postal Code</label>
            <InputText class="form-control" id="zip" @bind-Value="_address.Zip"/>
        </div>
        <div class="mb-3">
            <label for="country">Country</label>
            <InputText class="form-control" id="country" @bind-Value="_address.Country"/>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </EditForm>
}


@code {
    Address? _address = null;
    bool _editingAddress = false;

    protected override async Task OnInitializedAsync()
    {
        _address = await AddressService.GetAddress();
    }

    private async Task SubmitAddress()
    {
        _editingAddress = false;
        if (_address != null) _address = await AddressService.UpdateAddress(_address);
    }

    //New address 
    private void InitAddress()
    {
        _address = new Address();
        _editingAddress = true;
    }

    private void EditAddress()
    {
        _editingAddress = true;
    }

}